.profile-container {
  padding-left: 20px !important;
  /* Add padding to the left */
}

.profile-pic {
  width: 200px !important;
  /* Set a specific width */
  height: 200px !important;
  /* Set a specific height */
  float: left !important;
  /* Float the image to the left */
  margin-right: 20px !important;
  /* Add some margin to the right for spacing */
  border-radius: 50% !important;
  /* Make the image rounded */
  object-fit: cover !important;
  /* Scale the image to cover its container without deformation */
}

.about-page-container{
color: white !important;
width: 100vw !important;
position: absolute !important;
/* height: 100vh !important; */
top: 0 !important;
left: 0 !important;
background-color: rgb(0, 121, 192);

}

.about-container1 {
  background-color: #282c34 !important;
  color: white !important;
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.image-grid1 {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
  gap: 20px !important;
  padding: 10px !important;
  background-color: #000000 !important;
  cursor:pointer !important;
}

.image-container1 {
  position: relative !important;
  overflow: hidden !important;
  border-radius: 25px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.tilted-image1 {
  width: 98% !important;
  margin: 5px !important;
  height: auto !important;
  object-fit: cover !important;
  transition: transform 0.3s ease !important;
  border-radius: 25px !important;
  
}

.image-container1:hover .tilted-image1 {
  transform: rotate(0deg) !important;
}

.overlay1 {
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  padding-bottom:20px !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  border-radius: 0 0 25px 25px !important;
  text-align: center !important;
  transform: translateY(100%) !important;
  transition: transform 0.3s ease !important;
  width:100% !important;

}

.image-container1:hover .overlay1 {
  transform: translateY(0%) !important;
  /* background-image: url(../../assets/Models-pic.png) !important; */
}

.overlay1 p {
  margin: 0 !important;
  font-size: 18px !important;
}
