.about-page-container{
color: white;
width: 100vw;
position: absolute;
height: 100vh;
top: 0;
left: 0;

}

.about-container1 {
  background-color: #282c34;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-grid1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 10px;
  background-color: #000000;
  cursor:pointer;
}

.image-container1 {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tilted-image1 {
  width: 98%;
  margin: 5px;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 25px;
  
}

.image-container1:hover .tilted-image1 {
  transform: rotate(0deg);
}

.overlay1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom:20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 25px 25px;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  width:100%;

}

.image-container1:hover .overlay1 {
  transform: translateY(0%);
  /* background-image: url(../../assets/Models-pic.png); */
}

.overlay1 p {
  margin: 0;
  font-size: 18px;
}
