.about-page-container {
  color: white;
  width: 100vw;
  background-color: rgb(0, 121, 192);
}

.about-content {
  padding: 20px;
  padding-bottom: 100px;
}

.intro-section {
  text-align: center;
  margin-bottom: 40px;
}

.intro-section h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.intro-section p {
  font-size: 1.2em;
  color: #ccc;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #282c34;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.profile-container:hover {
  transform: scale(1.05);
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.description-container {
  text-align: center;
}

.description-container h2 {
  margin: 10px 0;
  font-size: 1.5em;
}

.description-container h3 {
  margin: 5px 0;
  font-size: 1.2em;
  color: #ccc;
}

.description-container p {
  font-size: 1em;
  line-height: 1.5;
}

/* Media Queries for Mobile View */
@media (min-width: 768px) {
  .profile-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .profile-pic {
    margin: 0 20px 0 0;
  }

  .description-container {
    text-align: left;
  }
}
