/* .models{
  background-image: url(../../assets/Models.png);
} */

.map-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}


.cardDiv {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

.carousel-pic{
  width: 100vw;
  height:500px;
  background-image: url(../../assets/HomePage_Gigantico.jpeg);
  background-position: center center; 
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative; /* Added to position FillBox absolutely within it */
  overflow-x: hidden;
  display: flex;
  align-items: center;
}

.carousel-pic2{
  width: 100vw;
  height: 500px;
  background-image: url(../../assets/Carousel-img-2.jpeg);
  background-position: center center; 
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative; /* Added to position FillBox absolutely within it */
  overflow-x: hidden;
  display: flex;
  align-items: center;
}

.carousel-pic3{
  width: 100vw;
  height: 500px;
  background-image: url(../../assets/Carousel-img-3.jpeg);
  background-position: center center; 
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative; /* Added to position FillBox absolutely within it */
  overflow-x: hidden;
  display: flex;
  align-items: center;
}

.carousel-pic4{
  width: 100vw;
  height: 500px;
  background-image: url(../../assets/Carousel-img-4.jpeg);
  background-position: center center; 
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative; /* Added to position FillBox absolutely within it */
  overflow-x: hidden;
  display: flex;
  align-items: center;
}


.fill-box {
  position: absolute;
  top:400px;
  left: 50%;
  transform: translateX(-50%);
  width: 104vw; /* Adjust this value as needed to make it wider than the viewport */
  height: 104px; /* Adjust height as needed */
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.fill-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Make sure the image is at the lowest z-index */
}
.explore{
  text-align: center;
  color:#000000;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.fill-box-text {
  position: relative;
  z-index: 2; /* Ensure the text is above the image */
  text-align: center;
  font-size: 30px; /* Adjust font size as needed */
  color: #C0C0C0; /* Adjust text color as needed */
  font-family: 'Volterra-Regular';
  background: linear-gradient(to bottom, #ffffff, #e8e8e8, #5a5a5a) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent !important;
}



@media screen and (max-width:900px){
  .text-block-1{
    width:100vw;
    height:40vh;
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .text-block-2{
    width:100vw;
    height:35vh;
    top:410px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
   .text-block-3{
    width:100vw;
    height:35vh;
    top:410px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* CarouselCustom.css */

/* Style for the previous control */
.carousel-control-prev-icon {
  background-size:cover;
  width: 40px;
  height: 40px;
}

/* Style for the next control */
.carousel-control-next-icon {
background-size:cover;
  width: 40px;
  height: 40px;
}

/* Additional styling
.carousel-control-prev,
.carousel-control-next {
  filter: brightness(0) invert(1); For white icons on dark backgrounds
} */
