.cardd {
  background-color: #e9e9e9;
  min-width: 250px;
  border-radius: 25px;
  margin: 10px;
  cursor: pointer;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cardd img {
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.card-description{
  font-size: 14px;
  color: #777;
  word-wrap: break-word; /* Ensure long words break properly */
  white-space: normal; /* Allow text to wrap to the next line */
 
}


h4, p{
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-img {
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  margin-bottom: 10px;
}
