.contact-link{
    display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-bottom: 10px !important;
}


.contact-item1 {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-bottom: 10px !important;
  color:#000000 !important;
}

.contact-item2 {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-bottom: 10px !important;
  color:#000000 !important;
}

.icon {
  height: 35px !important;
  width: 35px !important;
  margin-right: 10px !important;
}

.parag1{
    color:#000000 !important;
}
.parag2{
    color:#000000 !important;
}

.contact-item1, .parag1:hover{
     color: #cd23d5
}

.contact-item2, .parag2:hover{
    color: #006e9a
}

