@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dancing+Script:wght@400..700&family=Style+Script&display=swap');

.header {
  position: fixed;
  display: flex;
  justify-content: flex-start; /* Align everything to the center */
  align-items: center;
  /* background-color: #005498; */
  width: 100%;
  height:70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding:8px;
}

.backdrop{
  position: fixed;
  left:0;
  width: 100%;
  height:70px;
  z-index: -5;
  padding:20px;
  background-color: gba(70,72,74,0.1) !important; 
  backdrop-filter: saturate(120%) blur(5px);
  -webkit-backdrop-filter: saturate(120%) blur(2px);
}

@font-face {
    font-family: 'Volterra-Regular';
    src: url(../../assets/fonts/Volterra-Regular.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}


.logo1{
    font-family: 'Volterra-Regular' !important;
    text-decoration: none !important;
    color: #ffffff !important
/* background: linear-gradient(to bottom, #ffffff, #ffffff, #5a5a5a) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent !important; */
}

.logo2{
    font-family: 'Volterra-Regular' !important;
    text-decoration: none !important;
    color: #000000 !important;
     /* background: linear-gradient(to bottom, #ffffff, #e8e8e8, #5a5a5a) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent !important; */

}

.Menu-icon {
  height: 28px;
  width: 28px;
  cursor: pointer;
  margin-right: 20px;
  /* Add space from the right viewport border */
  margin-top: 10px;
  /* Optional: Add space from the top viewport border */
  margin-bottom: 10px;
  /* Optional: Add space from the bottom viewport border */
  /* margin-left: 10px; */
  /* If you need space from the left border, uncomment and adjust */
  /* Ensure there's enough space if you add it */
}

.logo-container {
  padding-top:15px;
  padding-bottom:5px;
  display:flex;
  flex:1;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
 
}

/* Define the rainbow gradient animation */
  @keyframes rainbow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

.nav-links {
  display: flex;
  margin-right: 20px; /* Add margin to the right of the nav links */
  align-items: center;
    gap: 20px;
    /* Space between buttons */
}

.nav-container {
  display: flex;
  flex: 1;
  justify-content: right;
  align-items: center;
  gap: 20px;
  /* Space between nav links */
}

.NavLink {
  color: #ffffff;
  text-decoration: none;
  margin-right: 15px;
  cursor: pointer;
  font-weight: 750;
  font-size: 20px;
}

.search-container {
  /* flex: 3; */
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  width: 200px; /* Set width to 200px */
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  background-color: #00000000;
  color:white;
  outline:none;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: black; /* Semi-transparent white background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 20px 20px;
  z-index: 1;
  overflow-y: auto;
  backdrop-filter: blur(8px); /* Apply blur effect */
  
}

.search-item {
  padding: 10px;
  border-bottom: 2px solid #dddddd;
}



.search-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s;
}

.search-box:focus + .search-underline {
  width: 100%; /* Expand the underline when the search box is focused */
}
.icons-container {
  /* flex: 1; */
  display: flex;
  width:200px;
  justify-content: center;
  align-items: center;
  margin-left: 20px; /* Add margin to the left of the icons */
  margin-right: 10px; /*Add margin to the left of the icons*/
}

.icon {
  height: 35px;
  width: 35px;
  margin-left: 10px;
  cursor: pointer;
}

.NavLink {
   color: #ffffff;
  text-decoration: none;
  margin-right: 15px;
  position: relative;
}

.NavLink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust the position of the underline */
  height: 2px;
  width: 0;
  background-color: #ffffff;
  transition: width 0.3s; /* Add transition effect for the underline width */
}

.NavLink:hover::after {
  width: 100%; /* Expand the underline when hovered */
}

.NavLink.active::after {
  width: 100%; /* Show white underline for active link */
}

/* .central-header-div{
  flex:2;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
} */

.icon-container {
  position: relative;
  display: inline-block;
}

/* .icon {
  font-size: 24px; /* Adjust the size as needed */
/* } */ 

.hover-ring {
  position: absolute;
  top: -8px;
  left: 8px;
  width: 55px;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: border-color 0.3s ease;
  pointer-events: none; /* Ensure the ring doesn't interfere with hover events */
}

.icon-container:hover .hover-ring {
  animation: spin-ring 0.3s forwards linear; /* Start the animation on hover */
}

@keyframes spin-ring {
  0% {
    transform: rotate(0deg); /* Start from no rotation */
    border-color: transparent; /* Start with no border color */
  }
  100% {
    transform: rotate(360deg); /* End with full rotation */
    border-color: white; /* End with white border color */
  }
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 20px 20px;
  z-index: 1;
  overflow-y: auto;
  backdrop-filter: blur(8px);
}

.search-item {
  padding: 10px;
  border-bottom: 2px solid #333; /* Change border color */
  color: white; /* Text color */
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s; /* Add transition effect */
}

.search-item:hover {
  background-color: #222; /* Change background color on hover */
}

.search-item p {
  margin: 0; /* Remove default paragraph margin */
}

.search-item:last-child {
  border-bottom: none; /* Remove border from last item */
}

.Cart-Icon-Text {
  position: relative;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.Cart-Icon-Text:hover {
  color: white;
}

.Cart-Icon-Text::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0; /* Start the underline from the left */
  width: 0; /* Initially set the width to 0 */
  height: 2px;
  background-color: white;
  visibility: hidden;
  transition: width 0.3s ease; /* Only transition the width */
}

.Cart-Icon-Text:hover::after {
  visibility: visible;
  width: 100%; /* Expand the underline to cover the entire width on hover */
}

/* Define keyframes for the animation */
@keyframes enlargeAndShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5); /* Enlarge the icon */
  }
  100% {
    transform: scale(1);
  }
}

/* Apply the animation to the cart icon */
.cart-icon {
  /* Define initial styles for the icon */
  height: 35px;
  width: 35px;
  margin-left: 15px;
  cursor: pointer;
  
}
.notification {
  position: absolute;
  top: -2px; /* Adjust the top position as needed */
  right: 0px; /* Adjust the right position as needed */
  background-color: red; /* Change the background color of the notification */
  color: white; /* Change the text color of the notification */
  width: 20px; /* Set the width of the notification */
  height: 20px; /* Set the height of the notification */
  border-radius: 50%; /* Make the notification circular */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
  z-index: 11;
}

.notification-active{
  position: absolute;
  top: -2px; /* Adjust the top position as needed */
  right: 0px; /* Adjust the right position as needed */
  background-color: red; /* Change the background color of the notification */
  color: white; /* Change the text color of the notification */
  width: 20px; /* Set the width of the notification */
  height: 20px; /* Set the height of the notification */
  border-radius: 50%; /* Make the notification circular */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
  z-index: 11;
  transition: transform 0.3s ease-in-out;
  animation: enlargeAndShrink 0.5s ease-in-out;
}

.contact-btn{
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 750;
  font-size: 15px;
}


@media screen and (max-width:905px){
     .NavLink{
    display:none;
}
.central-header-div{
  width:50%;
}
}

@media screen and (max-width:710px) {
  .contact-btn{
    display:none;
  }
}


@media screen and (min-width:906px){
    .Menu-icon{
    display:none;
}
    
}

/* @media screen and (max-width:750px){
    .icons-container{
        display:none
    }
    
} */

@media screen and (max-width:600px){
  .search-container{
    display:none;
  }
    
}

@media screen and (max-width:340px){
  .central-header-div{
    display:none;
  }
    
}

@media screen and (max-width:650px){
.contact-btn{
  display:none;
}
}
