.contact-us-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align at the top */
  /* color: #004cb0; */
  z-index: 1050; /* Ensure it overlays other elements */
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1049;
}

.contact-card {
  background-color: #ffffff;
 /* background-color: rgba(255, 255, 255, 0.218) !important; 
  backdrop-filter: saturate(120%) blur(100px);
  -webkit-backdrop-filter: saturate(120%) blur(2px); */
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  margin-top: 20px; /* Add some margin from the top */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1051;
  padding: 20px;
}

.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.contact-title {
  margin: 0;
  font-size: 24px;
  color:#000000
}

.close-btn {
  cursor: pointer;
  font-size: 24px;
}

.contact-content {
  padding-top: 10px;
}

.contact-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.icon {
  margin-right: 10px;
  font-size: 24px;
}
