@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

.footer {
  position:absolute;
  background-image: url(../../assets/images/Fill-Box.png);
  background-position: center center; 
  background-repeat: no-repeat;
  background-size: cover;
  left: 50%;
  transform: translateX(-50%);
  width: 104vw;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-about-us{
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
}

/* .fill-box-footer{
  width:100vw;
  height:100%;
  object-fit: cover;
  z-index: -2;
} */

.footer-content {
  max-width: 1200px; /* Increased max-width for better content alignment */
  margin: 0 auto;
}

.footer-text {
  font-size: 18px; /* Larger font size for the text */
  margin-bottom: 30px; /* Increased margin for better spacing */
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
}

.social-links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px; /* Added margin for better separation from content */
}

.social-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin: 0 15px; /* Increased margin for better spacing between links */
  font-size: 17px; /* Larger font size for the links */
  transition: color 0.3s; /* Added transition for hover effect */
}
.footer-social-div{
  cursor: pointer;
  
}
.footer-social-div:hover{
#social-link1 {
  color: #cd23d5; /* Change color on hover for better interaction */
}
#social-link2 {
   color: #ff2c2c; /* Change color on hover for better interaction */
}

#social-link3 {
  color: #00b7ff; /* Change color on hover for better interaction */
}
}




/* Define the rainbow gradient animation */
  @keyframes rainbow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  /* Apply the rainbow gradient to text when hovered */


.social-link i {
  margin-right: 10px; /* Adjusted margin for better icon alignment */
}
