.dropdown {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #000000;
  justify-content: flex-start;
  align-items: center;
  padding-right: 20px;
  animation: animateleft 0.5s;
}

@keyframes animateleft {
  from {
    left: -1000px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.btnn {
  cursor: pointer;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #4600b6;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  border: none;
  width: 150px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.tsBG {
  opacity: 0.7;
  z-index: 80;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

.img {
  object-fit: contain;
  height: 100px;
}

@media screen and (min-width: 906px) {
  .dropdown {
    display: none;
  }
  .tsBG {
    display: none;
  }
}


.NavLinkDropDown {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  position: relative;
}

.NavLinkDropDown::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust the position of the underline */
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s; /* Add transition effect for the underline width */
}

.NavLinkDropDown:hover::after {
  width: 100%; /* Expand the underline when hovered */
}

.NavLinkDropDown.active::after {
  width: 100%; /* Show white underline for active link */
}
