@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   */

 /* font-family: 'Preahvihear', sans-serif; */
 font-family: 'Montserrat', sans-serif;
 /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
 /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
 /* font-family: 'Open Sans',sans-serif; */
    line-height: 1.5;

  color: rgba(255, 255, 255, 0.87);
  background-color:   #ffffff !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input{
   font-family: 'Montserrat', sans-serif;
}

a {
  /* font-weight: 500; */
  color: white;
  text-decoration: inherit;
}
/* a:hover {
  color: white;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 3px solid #ffffff;
  padding: 0.6em 1.2em;
  font-size: 1em;
  /* font-weight: 500; */
  font-family: inherit;
  background-color: #00000000;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */