.map-card {
  max-width: 400px;
  margin: 20px auto;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 100px;
}

.map-iframe {
  width: 100%;
  height: 250px;
  border: 0;
  border-radius: 8px;
}
