@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Caveat+Brush&display=swap'); */

.page-title{
   font-family: "Caveat Brush", cursive;
     /* font-family: "Cabin Sketch", sans-serif; */
}
.orders-container {
  background-color: #f0f0f0;
  color: #333;
  min-height: 100vh;
  padding: 10px;
  padding-top: 30px;
  margin-top: 30px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.orders-header {
  text-align: center;
  margin-top: 15px;
}

.error-message {
  color: red;
  text-align: center;
}

.orders-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* align-items: center; */
}

.order-item {
  background-color: #ffffff;
  padding: 20px;
  padding-top:0px;
  margin:10px;
  /* min-width:270px; */
  width:320px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-details {
  font-size: 16px;
}

.order-label {
  font-weight: bold;
}

.shirts-ordered {
  margin-top: 20px;
  /* padding:15px; */
  padding-top:15px;
  padding-bottom:15px;
  padding-left:5px;
  padding-right:15px;
  display:flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-top:1px solid rgb(87, 87, 87);
  border-bottom:1px solid rgb(87, 87, 87);
  /* border-radius:10px; */
  overflow-y: scroll;
  max-height:187px;
  overflow-x: hidden;
}

.shirts-title {
  font-weight: bold;
  margin-bottom:-10px;
}

.shirt-item {
  display: flex;
  flex-direction: row;
  background-color: rgb(243, 243, 243);
  /* align-items: center; */
  margin-bottom:10px;
  border-radius:25px;
  padding:10px;
  width:95%;
}

.shirt-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
}

.loading-icon {
  animation: spin 1s linear infinite;
  color:#000000;
  height:50px;
  width:50px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:380px){
  .order-item{
    width:90%;
    margin:10px;
  }
}